.dropdown-menu {
    .nav-link {
        display: block;
        width: 100%;
        padding: .25rem 2rem;
        clear: both;
        font-weight: 400;
        color: #212529 !important;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;

        &:hover {
            color: #16181b;
            text-decoration: none;
            background-color: #e0e0e0;
        }
    }
}