.Experience {
    background-image: url("https://cdn.pixabay.com/photo/2018/04/30/23/05/stones-3364324_960_720.jpg");
    background-size: cover;
    color: white;
    padding: 1rem;
    background-attachment: fixed;
    background-position: bottom;
}