.SummaryCard {
    padding: 1rem;
    width: auto;

    .content {
        padding: .5rem;
        background: white;
        height: 200px;
        border-radius: 15px;
        width: 150px;
        position: relative;
        color: white;

        .size {
            position:absolute;
            bottom: 0;
            right: 0;
            margin: .5rem;
        }

        .detail {
            position: absolute;
            bottom: 0;
            margin-bottom: 1rem;

        }
    }
}

.btn-glass {
    padding: .5rem;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;

    &::after {
        content: "";
        width: 10px;
        height: 100px;
        transform: rotate(-45deg);
        background:rgba(255, 255, 255, 0.445);
        position: absolute;
        left:0;
        top:0;
        margin-left: 10px;
        margin-top: 10px;
        transition: .3s all ease;
    }

    &:hover {
        &::after {
            margin-left: 50px;
            margin-top: -100px;
        }
    }
}